Source: ros-melodic-move-base-msgs
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-actionlib-msgs, ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-message-generation
Homepage: http://wiki.ros.org/move_base_msgs
Standards-Version: 3.9.2

Package: ros-melodic-move-base-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-actionlib-msgs, ros-melodic-geometry-msgs, ros-melodic-message-runtime
Description: Holds the action description and relevant messages for the move_base package
